@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 5px;
  padding: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
